*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{

    
    
    background-image: url("54336.png");
    
    background-repeat: no-repeat;
    
    }
    
    .body{

    
    
        background-image: url("54336.png");
        
        background-repeat: no-repeat;
        
        }
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:right;
        
        height: 600px;
        
        width: 500px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("tecnologia generador.jpg");
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: rgb(255, 255, 255);
        
        font-size: 30px;
        
        
        
        }
        


        .imagenmate{
        
         
        
        background-repeat: no-repeat;
            
        float:right;
            
        height: 200px;
            
        width: 260px;
            
        margin-left: 5px;
            
        margin-right:5px;
            
        background-image: url("iamgen.jpg");
            
        }
            
            
            
        .textomate{
            
        text-align: justify;
            
        color: rgb(255, 255, 255);
            
        font-size: 30px;
            
            
            
        }  
        


        .imagenbio{
        
         
        
        background-repeat: no-repeat;
                
        float:right;
                
        height: 900px;
                
        width: 920px;
                
        margin-left: 5px;
                
        margin-right:5px;
                
        background-image: url("sindrome.jpeg");
                
        }
                
                
                
        .textobio{
                
        text-align: justify;
                
        color: rgb(255, 255, 255);
                
        font-size: 30px;
                
                
                
        }  



        .imagensoc{
        
         
        
        background-repeat: no-repeat;
                    
        float:right;
                    
        height: 900px;
                    
        width: 900px;
                    
        margin-left: 5px;
                    
        margin-right:5px;
                    
        background-image: url("sociales imagen.jpg");
                    
        }
                    
                    
                    
        .textosoc{
                    
        text-align: justify;
                    
        color: rgb(255, 255, 255);
                    
        font-size: 27px;
                    
                    
                    
        }  


        .imagenmate{
        
         
        
        background-repeat: no-repeat;
                        
        float:right;
                        
        height: 800px;
                        
        width: 700px;
                        
        margin-left: 1px;
                        
        margin-right:1px;
                        
        background-image: url("polinomios.jpg");
                        
        }
                        
                        
                        
        .textomate{
                        
        text-align: justify;
                        
        color: rgb(255, 255, 255);
                        
        font-size: 30px;
                        
                        
                        
        }  



        .imagening{
        
         
        
        background-repeat: no-repeat;
                        
        float:right;
                        
        height: 900px;
                        
        width: 800px;
                        
        margin-left: 1px;
                        
        margin-right:2px;
                        
        background-image: url("enfermedades -ingles.jpg");
                        
        }
                        
                        
                        
        .textoing{
                        
        text-align: justify;
                        
        color: rgb(255, 255, 255);
                        
        font-size: 27px;
                        
                        
                        
        }  



        .imagening2{
        
         
        
            background-repeat: no-repeat;
                            
            float:right;
                            
            height: 900px;
                            
            width: 800px;
                            
            margin-left: 5px;
                            
            margin-right:5px;
                            
            background-image: url("");
                            
            }
                            
                            
                            
            .textoing2{
                            
            text-align: justify;
                            
            color: rgb(15, 13, 13);
                            
            font-size: 19px;

            }



            .imagenreligion{
        
         
        
            background-repeat: no-repeat;
                                
            float:right;
                                
            height: 900px;
                                
            width: 800px;
                                
            margin-left: 1px;
                                
            margin-right:2px;
                                
            background-image: url("hinduismo.jpg");
                                
            }
                                
                                
                            
            .textoreligion{
                                
            text-align: justify;
                                
            color: rgb(14, 11, 11);
                                
            font-size: 27px;
                                
                                
                                
            }  
        